language: php
php:
  - 5.5
  - 5.4
  - 5.3
before_script:
  - composer self-update
  - composer install --dev --optimize-autoloader
script:
  - ./vendor/bin/phpunit --process-isolation --strict test/
